<!DOCTYPE html>
<html lang="zh_cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>詹老师的博客</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/blog.css">
</head>

<body>

	<div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
         <a class="blog-nav-item active" href="/">主页</a>
          <a class="blog-nav-item " href="content.html">博客</a>
          <a class="blog-nav-item" href="post.html">发博客</a>
        </nav>
      </div>
    </div>
 <div class="container">
	
     
 </div>


<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="stylesheets/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
