<!DOCTYPE html>
<html lang="zh_cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>詹老师的博客</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="blog.css">
</head>
<body>

	<div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item " href="/">主页</a>
          <a class="blog-nav-item " href="content.html">博客</a>
          <a class="blog-nav-item active" href="post.html">发博客</a>
        </nav>
      </div>
    </div>
 <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">好人一生平安</h1>
        <p class="lead blog-description">写完记得保存哦，棒棒哒</p>
      </div>
	   <div class="row">
        <form class="form-horizontal">
          <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="formGroupInputLarge">标题：</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="formGroupInputLarge" placeholder="请写一个比较诗意的标题">
            </div>
          </div>
          <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="formGroupInputLarge">内容：</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </div>
        </form>

     </div>
    

</div>
<footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
</footer>

<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>